* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: sans-serif;
  width: calc(100vw-10px);
  margin: 0px 150px 0px 150px;
}

#header {
  background-color: rgb(65, 140, 250);
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  align-items: center;
  height: 80px;
  width: 100%;
  display: flex;
  z-index: 2;
  padding: 0 0 0 10px;
}

#header-img {
  aspect-ratio: 1;
  width: auto;
  height: 90%;
  padding: 3px;
  margin: 5px;
  margin-left: 3px;
  margin-right: 7px;
}

#header #logo-text {
	padding: 0;
	margin: 0;
	margin-left: 2px;
}

#header a {
  color: white;
  text-decoration: none;
}

#header a:hover {
	text-decoration: underline;
}

#nav-list {
  display: flex;
}

#nav-list li {
  padding: 5px 20px 5px 20px;
  border-right: 2px solid white;
}

#nav-list li:last-of-type {
  border-right: 0;
}

li {
  list-style-type: none;
}

#main {
  position: relative;
  padding-top: 120px;
  width: 100%;
  z-index: 1;
}

section {
  border-bottom: 2px black solid;
  padding: 10px;
  width: 100%;
}

#product {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#product-image {
  width: 500px;
  aspect-ratio: auto;
  padding: 10px 20px 10px 10px;
}

#product-summary {
  display: flex;
  flex-direction: column;
  width: 450px;
  justify-content: left;
}

#price-listing {
  display: flex;
  flex-direction: row;
}

#product-selection {
  width: 100%;
  border-color:
}

#color-option, #product-number {
	height: 25px;
}

fieldset {
  border: 0px;
}

.submit {
  background-color: rgb(65, 140, 250);
  color: white;
}

.submit-basket {
  width: 100%;
  padding: 5px;
}

#product-details {
  width: 100%;
}

.star {
  aspect-ratio: auto;
  width: 20px;
  height: 20px;
}

.rating-total {
  margin: 0 4px 0 4px;
}

.star:first-of-type {
  margin-left: 10px
}

.customer-review {
  width: 90%;
  border-bottom: 1px solid black;
  padding: 0 0 10px 0;
}

.customer-review:last-of-type {
  border-bottom: 0;
}

.review-rating {
  width: 15px;
  height: 15px;
  margin: 0;
  }

#other-products {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.other-product {
  width: 180px;
  height: 220px;
  border: 2px solid black;
  padding: 10px;
  text-align: center;
}

.other-product-image {
  aspect-ratio: auto;
  width: auto;
  height: 50%;
}

#footer {
  padding: 5px;
  margin: 0 0 5px 0;
  font-size: 12px;
}

#footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5px;
}

#footer-link {
	margin: 0px 5px 0px 5px;
}

#footer a {
  color: black;
}


#form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}

#submit {
  height: 22px;
  margin-bottom: 3px;
}

#copyright {
  margin: 20px;
}

@media (max-width: 400px) {
  
}